@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* 키워드로 폰트크기 조절 */
.p-size-xx-small {
    font-size: xx-small;
}

.p_size_medium {
    font-size: medium;
}

.p_size_xx_large {
    font-size: xx-large;
}

/* px 단위로 폰트크기 조절(고정크기) */
.p_size_px {
    font-size: 10px;
}

/* em, rem 단위로 폰트크기 조절 */
.p_size_em {
    font-size: 2em; /* 부모 요소 기준*/
}

.p_size_rem {
    font-size: 2rem;  /* 최상위 요소 기준*/
}

/* 글자 굵기*/
.p_weight_100 {
    font-weight: 100;
}
.p_weight_400 {
    font-weight: 400;
}
.p_weight_900 {
    font-weight: 900;
}

/* 폰트 변경*/
body{
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}