/* 글자색 지정 */
.h2_color {
    /* 색상명 지정합니다 */
    /* color: red;  */

    /* 16진수로 색상 지정합니다 */
    /* color: #ff0000 */

    
/* RGB방식으로 색상 지정 */
/* color: rgb(255, 0, 0); */


/* RGBA방식으로 색상 지정 */
/* color: rgba(255, 0, 0, 0.075); */


/* HSLA 방식으로 색상 지정 */
color: hsl(0, 100%, 50%);
}


.td_none {
    text-decoration: none;
}

.td_underline {
    text-decoration: underline;
}

.td_through {
    text-decoration: line-through;
}
    
/* 글자 정렬 */
.aline_left {
        text-aline: left;
}

.aline_right {
    text-aline: right;
}

.aline_center {
    text-align: center;
}

.center {
    /* 중앙정렬 하는 방법 1 */
    background-color: darkgrey;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

/* 영어 대소문자 변경 */
.transform {
    /* 첫글자를 대문자 변경 */
    /* text-transform: capitalize; */

    /* 전부 대문자 변경 */
    /* text-transform: uppercase; */

    /* 전부 소문자 변경 */
    text-transform: lowercase;
}

/* 자간 */
.letter_spacing {
    letter-spacing: 10px;
}

/* 단어 간의 간격 */
.word_spacing {
    word-spacing: 20px;
}

.shadow {   
/* 가로위치 새로위치 그림자 크기 색상 */
text-shadow : 5px 5px 5px #ff0000
}