main, div{
        padding: 20px;
}

main {  
    background-color: green;
        width: 250px;
        height: 1000px;
}

/* 
    position 속성: HTML요소를 배치하는 방법을 지정합니다.
    **속성 값**
    static : 기본값으로 일반적인 문서의 흐름에 맞춰 배치합니다.
*/

.div-static {
    background-color: gray;
    position: static;
}


.div-relative {
    background-color: aqua;
    position: relative;
    /* 
    top: 20px;
    left: 20px;
    */
}

.div-relative-absolute {
    background-color: antiquewhite;
    position: relative;
}

.div-absolute {
    background-color: blueviolet;
    position: absolute;
}

/* *relative : 
    static위치에서 top, right, bottom. left와 같은 속성에 의한 
    상대적이 위치값을 지정합니다. 그외에는 static와 같습니다. 

    *absolute : 
    요소가 문서의 일반적인 흐름을 따르지 않게 됩니다. 
    relative값을 사용한 상위 요소를 기준으로 위치값을 지정합니다. 

    *fixed : 
    뷰 포트를 기준으로 위치값을 지정합니다.

    *sticky : 
    요소가 html문서안에서 staetic와 같이 일반적인 흐름에 따라가다가
    스크롤 위치가 임계점에 이르면 화면을 조정할 수 있는 속성입니다. 
    top속성만 적용됩니다.
    자신의 바로 위의 부모요소 안에서만 적용됩니다. 
*/

.div-fixed {
    background-color: cadetblue;
    position: fixed;
    right: 10%;
    bottom: 10%;
}

.div-sticky {
    background-color: chocolate;
    position: sticky;
    top: 0;
}