/* div {
    width: 200px;
    height: 150px;
    border:1px solid #000;
    margin: 10px;
} */

/* .div1 {
    background: linear-gradient(
    to left, blue, skyblue 80%, white);
}

.div2 {
    background: radial-gradient(
        circle, blue, skyblue, yellow
    );
} */
