/* header span {
    color:red
}
/* - **후손 결합자(Descendant Combinator)**
    - 공백 문자를 이용해 선택자를 조합
    - 부모 요소의 영역하에 있는 특정 선택자에 스타일을 적용 */ */




header > span {
    color: blue;
    /* - **자식 결합자(Child Combinator)**
    - > 기호를 이용해 선택자를 조합
    - 부모 요소 영역에서 선택 범위를 자식 요소로 한정해서 스타일을 적용 */
}

/* 
인접 형제  결합자(Adjacent Sibling Combinator)
+ 기호를 이용해 선택자를 조합
첫번째 선택자 요소 바로 뒤에 나오는 형제 요소에 스타일을 적용 */

/* 
header + span {
    color: aquamarine;
} */

/* header + * {
    color: aquamarine;
} */
/* +*은 인접 뭐가 오던간에 적용하겠다 */



/* 
header ~ span {
    color: blueviolet;
} */
/* - **일반 형제  결합자(General Sibling Combinator)**
    - ~ 기호를 이용해 선택자를 조합
    - 첫번째 선택자 요소 이후에 나오는 모든 형제 요소에 스타일을 적용 */ 