/* 
:link
아직 방문하지 않은 링크 요소를 선택 */
a:link {
    color:red;
}

/* 방문 한 링크 요소를 선택 */
a:visited {
    color : green;
}

/* 마우스 커서가 올라가 있는 요소를 선택 */
a:hover {
    color : aqua
}

/* a:active {
    font-size: 5rem; */


p { 
    /* display: none; */
}

h1:hover + p {
    display: block;
}

/* 포커스가 적용되어 있는 요소 선택 */
/* input:focus {
    border: 3px solid green;
    outline: none;
} */

/* 체크된(checked) 상태의 input 요소를 모두 선택 */
input:checked+label {
    background-color: cadetblue;
}


/* 문서 내부 링크의 현재 활성화 된 요소를 선택 */
#p1:target {
    background-color: bisque;
}

#p2:target {
    background-color: chocolate;
}


/* :not(선택자)
해당 선택자의 요소를 제외한 나머지 요소에 스타일 적용 */
/* .container :not(p) {
    color: red;

} */

/* 
:nth-child(숫자)
n번째 자식요소에 스타일 적용 */
/* .container :nth-child(3) {
    color: blue
} */

/* :nth-child(n + 숫자)
숫자번째 자식요소부터 스타일 적용 */


/* 2번부터라는 뜻이다.  */
.container :nth-child(n + 2) {
    color : rgb(255, 0, 170);
}


/* 1번부터 5번까지 컬러주겠다. 
.container :nth-child(n + 1):nth-child(-n+5) {
    color: blue;
} */


:nth-child(odd)
홀수번째 자식요소까지 스타일 적용
.container :nth-child(odd) {
    background-color: green;
}

:nth-child(even)
짝수 번째 자식요소까지 스타일 적용
.container :nth-child(even) {
    background-color: rgb(49, 194, 252);
}

/* 부모요소 내에서 특정 유형의 n번째 자식을 선택 */
.container span:nth-of-type() {
    font-size: 2rem;
}