* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    padding: 5px;
}

.header {
    background-color: rgba(0, 0, 0, 0.877);
    padding: 20px;
}

.header > h1 {
    color: white;
    margin-bottom: 30px;
} 

.header > .header-info {
    color:orange;
}

.main {
    margin-top: 10px;
}

.main-check {
    background-color: black;
    color : white;
    padding : 10px;
}

.gray-border {
    border: 1px solid #151515;
    text-align: center;
}

h2 {
    color: red;

}

h2, .main-info, .small-text {
    margin:20px;
}

.accent-blue {
    color: blue;
}

.main-info {
    font-weight: 900;
    line-height: 2rem;
}

.small-text {
    font-size: 0.8rem;
}