ul {
    list-style-type: none;
}

li {
    display: inline-block;
    width: 80px;
}

img {
    display: inline-block;
    width: 20px;
}

a { 
    text-decoration: none;
}

/* target="_blank" 
새창이 뜸*/