* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* common */
button {
    background-color: goldenrod;
    border-radius: 8px;
    padding: 15px;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}

button:hover {
    opacity: 0.5;
    transition: all 1.5s;
}

/* header */
header {
    background-image: url(./img/img_1.jpg);
    color: #fff;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(380px, 1fr));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header > h1 {
    margin: 5rem 0;
    font-size: 4rem;
}

.header-info > p {
    font-size: 1.5rem;
    margin: 30px 0;
}

/* main */
main {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin-bottom: 60px;
}

.card {
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    
}

.card > a > button {
    font-size: 1rem;
    width : 100%
}
/* card의 자식 a의자식 button를 선택하겠다 */

.card > button {
    font-size: 1rem;
}

.main-img {
    background-image: url(./img/item_1.jpg);
    padding-top:70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-title {
    position: absolute;
    bottom : 0;
    background-color: rgb(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 15px;
    width:100%;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: #252525;
    color: #fff;
    width: 100vw;
    padding: 20px;
    text-align: center;
}








